.bg-slider {
  background-image: url("../imagenes/bg-image-1.jpg");
  width: 100%;
  padding: 5rem; }

.carrito {
  display: none;
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 9;
  background-color: #ffffff;
  color: #d81a24;
  padding: 1rem;
  overflow: hidden;
  max-height: 30rem; }

.descripcion-carrito {
  width: 10rem; }

.btn-icon-cart {
  cursor: pointer; }

.carousel-item img {
  min-width: 16rem; }

.dd-input {
  display: none; }

.dd-input:checked ~ .carrito {
  display: flex; }

.btn {
  color: #fa4604;
  border-color: #fa4604; }
  .btn:hover, .btn:focus {
    background-color: #fa4604;
    color: #ffffff;
    transition: 1s;
    box-shadow: none; }

#banner-2 {
  width: 100%; }
  #banner-2 img {
    max-width: 35rem; }

.c-white {
  color: #f8f9fa !important; }

.c-greey {
  color: #f8f8f8a2; }

.card:hover .bg-cards {
  display: block !important; }

.bg-cards {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 2s; }

#banner-3 {
  background-image: url("../imagenes/banner-3.jpg");
  color: #ffff;
  height: 30rem; }
  #banner-3 .contenido-banner-3 {
    width: 40rem; }
    #banner-3 .contenido-banner-3 .input-email {
      color: #ffffff;
      background-color: rgba(246, 246, 246, 0.3);
      border: 1px solid transparent; }

.bg-oscuro {
  background-color: #151515 !important; }

.bg-red {
  background-color: #d81a24 !important; }

.bg-green {
  background-color: #7bc708 !important; }

.c-green {
  color: #7bc708 !important; }

.roboto {
  font-family: "Roboto Slab", serif !important; }

.bg-orange {
  background-color: #fa4604 !important; }

.carousel-2 {
  background-color: #f8f9fa;
  height: 100%; }

#footer {
  height: 20rem; }

@media only screen and (max-width: 900px) {
  .contenido-banner-2 {
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .contenido-banner-2 img {
      width: 100%; }
    .contenido-banner-2 .descripcion {
      width: 100%; } }
