#encabezado {
  background-image: url("../imagenes/bg-image-1.jpg");
  width: 100%; }

.carrito {
  display: none;
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 9;
  background-color: #ffffff;
  color: #d81a24;
  padding: 1rem; }

.fa-shopping-cart:hover ~ .carrito {
  display: flex; }

#banner-2 {
  width: 100%;
  background-color: #151515; }
  #banner-2 img {
    max-width: 35rem; }

.c-white {
  color: #f8f9fa; }

#banner-3 {
  background-image: url("../imagenes/banner-3.jpg");
  color: #ffff;
  height: 20rem; }
  #banner-3 .contenido-banner-3 {
    width: 40rem; }
    #banner-3 .contenido-banner-3 .input-email {
      color: #ffffff;
      background-color: rgba(246, 246, 246, 0.3);
      border: 1px solid transparent; }

.bg-red {
  background-color: #d81a24; }

.roboto {
  font-family: "Roboto Slab", serif; }

.carousel-2 {
  background-color: #f8f9fa;
  height: 100%; }

#footer {
  background-color: #151515;
  height: 20rem; }

@media only screen and (max-width: 900px) {
  .contenido-banner-2 {
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .contenido-banner-2 img {
      width: 100%; }
    .contenido-banner-2 .descripcion {
      width: 100%; } }
