#encabezado {
  background-image: url("../imagenes/bg-image-1.jpg");
  max-width: 1200px;
  width: 100%;
  max-height: 30rem; }

#banner-2 {
  background-color: #151515; }

#banner-3 {
  background-image: url("../imagenes/banner-3.jpg");
  color: #ffff;
  height: 20rem; }

.carousel-2 {
  background-color: #f8f9fa;
  height: 25rem; }

#footer {
  background-color: #151515;
  height: 30rem; }
