#encabezado {
    background-image:url("../imagenes/bg-image-1.jpg");
    width: 100%;
}
.carrito {
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 9;
    background-color: #ffffff;
    padding: 1rem;
    max-height: 15rem;
}
#banner-2 {
    // max-width: 1480px;
    width: 100%;
    background-color: #151515; 
    img {
        max-width: 35rem;
    }
}
.c-white {
    color: #f8f9fa;
}
#banner-3 {
    background-image: url("../imagenes/banner-3.jpg");
    color: #ffff;
    height: 20rem;
    .contenido-banner-3 {
        width: 40rem;
        .input-email {
            color: #ffffff;
            background-color: rgba(246, 246, 246, 0.3);
            border: 1px solid transparent;
        }
    }

}
.bg-red {
    background-color: #d81a24;
}
.roboto {
    font-family: "Roboto Slab", serif;
}
.carousel-2 {
    background-color: #f8f9fa;
    height: 25rem;
}
#footer {
    background-color: #151515;
    height: 20rem;
}

@import "./responsive.scss";