.bg-slider {
    background-image:url("../imagenes/bg-image-1.jpg");
    width: 100%;
    padding: 5rem;
}
.carrito {
    display: none;
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 9;
    background-color: #ffffff;
    color: #d81a24;
    padding: 1rem;
    overflow: hidden;
    max-height: 30rem;
}
.descripcion-carrito{
    width: 10rem;
}
.btn-icon-cart {
    cursor: pointer;
}
.carousel-item {
    img {
        min-width: 16rem;
    }
}
.dd-input {
    display: none;
}
.dd-input:checked ~ .carrito {
    display: flex;
}
#banner-2 {
    // max-width: 1480px;
    width: 100%; 
    img {
        max-width: 35rem;
    }
}
.c-white {
    color: #f8f9fa !important;
}
.c-greey {
    color: #f8f8f8a2;
}

#banner-3 {
    background-image: url("../imagenes/banner-3.jpg");
    color: #ffff;
    height: 30rem;
    .contenido-banner-3 {
        width: 40rem;
        .input-email {
            color: #ffffff;
            background-color: rgba(246, 246, 246, 0.3);
            border: 1px solid transparent;
        }
    }
}
.bg-oscuro {
    background-color: #151515;
}
.bg-red {
    background-color: #d81a24 !important;  
}
.bg-green {
    background-color: rgb(123, 199, 8) !important;
}
.roboto {
    font-family: "Roboto Slab", serif !important;
}
.carousel-2 {
    background-color: #f8f9fa;
    ;height: 100%
}
#footer {
    height: 20rem;
}

@import "./responsive.scss";